---
title: Ridr - Louez une moto vintage
<meta name="description" content="Ridr est un service de location entre particuliers de motos vintage : nous mettons en relation des propriétaires de motos anciennes avec des passionnés qui souhaitent louer une motos pour une ballade." />
<%= image_tag 'ridr.ico' %>
---

<div id="wrapper">
  <div class="pullDown">
    <h1><strong>VIVE LES APPART</strong></h1>
    <h2><strong>Location de motos vintage entre particuliers</strong></h2>
    <% link_to "http://lionelblanc.github.io/#feature" do %>

<div class="padded"></div>
                <i class="fa fa-chevron-down fa-3x pulse"></i>
               <% end %>
  </div>
</div>

<div id="feature">
  <div class="padded-xs"></div>
  <div class="container text-center feature">
    <h3><strong>COMMENT ÇA MARCHE ?</strong></h3>
    <br>
      <div class="row">
        <div class="col-sm-6 col-md-3" data-sr="wait 0.5s, ease-in-out 100px">
          <%= image_tag "search.svg"%> 
          <p>
          Choisissez votre <strong>moto vintage</strong> des années 1950 aux années 1990 chez un particulier près de chez vous.
          </p>
        </div>
        <div class="col-sm-6 col-md-3" data-sr="wait 1s, ease-in-out 100px">
          <%= image_tag "calendar.svg"%>
          <p>
          Demandez la moto pour <strong>la durée de votre choix </strong> (pour un weekend entre motard ou une balade en solo). 
          </p>
        </div>
        <div class="col-sm-6 col-md-3" data-sr="wait 1.5s, ease-in-out 100px">
          <%= image_tag "shield.svg"%>
          <p>
          <strong>L'assurance tous risques </strong> couvre les locations pour rouler l'esprit tranquille.
          </p>
        </div>
        <div class="col-sm-6 col-md-3" data-sr="wait 2s, ease-in-out 100px">
          <%= image_tag "sidecar.svg"%>
          <p>
          Récupérez la moto : vous n’avez plus qu’à prendre le gidon et découvrir les plus beaux <strong> itinéraires de France </strong>
          </p>
        </div> 
      </div>  
  </div>
</div>
<div class="padded"></div>

<div class="container text-center">
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Où voulez-vous louer votre moto ?">
        <span class="input-group-btn">
        <button class="btn btn-danger" type="button"><strong>TROUVER UN APPARTEMENT</strong></button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
</div>

<div class="padded"></div>

<div class="container text-center"
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "bmwcaferacer.jpg"%>
          <div class="caption">
          <h3>BMW Café Racer</h3>
          <h4><i class="fa fa-map-marker"></i> Paris</h4>
          <p>
          200€ / jour
          </p>
          <p><a href="#" class="btn btn-success" role="button">Réserver</a></p> 
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "triumph.jpg"%> 
          <div class="caption">
          <h3>Triumph Thunderbird</h3>
          <h4><i class="fa fa-map-marker"></i> Rouen</h4>
          <p>
          150€ / jour
          </p>
          <p><a href="#" class="btn btn-success" role="button">Réserver</a> 
          </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "harleydavidson.jpg"%>
          <div class="caption">
          <h3>Harley Davidson</h3>
          <h4><i class="fa fa-map-marker"></i> Nice</h4>
          <p>
          150€/ jour
          </p>
          <p><a href="#" class="btn btn-success" role="button">Réserver</a> 
          </div>
      </div>
    </div>
  </div>
</div>

<div class="padded-xs"></div>

<div id="testimonials">
  <div class="container text-center">
    <h3><strong>L'AVIS DE NOS RIDERS</strong></h3>
    <br>
    <% data.testimonials.each do |testimonial| %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="testimonial floating">
            <%= image_tag testimonial.image_file, class: "img-circle" %>
            <h3><%= testimonial.name %></h3>
            <p><%= testimonial.content %></p>
          </div>
        </div>
    <% end %>
      </div>  
  </div>
</div>

<div id="mutuelle">
    <div class="container text-center thumbnail">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag "mutuelle.jpeg"%>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-9 mutuelle">
          <h4><strong>LA MUTUELLE DES MOTARDS VOUS COUVRE !</strong></h4>
          <p>L’assurance tous risques couvre toutes les locations : Accidents, vol, responsabilité civile, dépannage 24h/24. Roulez l'esprit tranquille, et il n'y a aucune formalité à accomplir.
          </p>
          <a href="http://www.mutuelledesmotards.fr/la-mutuelle-des-motards">En savoir plus sur l’assurance</a>.
        </div>
      </div> 
    </div>
</div> 

<div class="padded-xs"></div>

<div id="newsletter">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 text center">
      <!-- Begin MailChimp Signup Form -->
      <h2>Inscrivez-vous à la newsletter</h2>
        <div id="mc_embed_signup">
          <form action="http://ridr.us10.list-manage.com/subscribe/post?u=bd4117c225134195f159afc4a&amp;id=6903dbdf0c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="entrez votre e-mail" required>
          <br>
          <br>
          <input type="submit" value="Suivez-nous!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger"></div>
          </form>
        </div>
      <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>

<div class="padded-xs"></div>


<script>
  $(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
   window.sr = new scrollReveal();
</script>